<!DOCTYPE html>
<html>
<head>
  <title>SmartEnterpriseTool</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= nav_bar :fixed => :top, :brand => image_tag('logo-name.png') + 'Smart Enterprise Tool', :responsive => true do %>

    <%= menu_group :pull => :right do %>
        <% if user_signed_in? %>
          <%= menu_text "Signed in as #{current_user.name}" %>
          <%= menu_item "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= menu_item "Home", welcome_index_url %>
          <%= menu_item "Sign up", new_user_registration_path %>
          <%= menu_item "Sign in", new_user_session_path %> 
          <%= menu_item "About", welcome_about_url %>
        <% end %>
    <% end %>

  <% end %>

   <div class="container">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <%= yield %>
   </div>
</body>
<footer>
  <div class="container">
	  Smart Enterprise Tool
  </div>
</footer>


</html>
