<!DOCTYPE html>
<html>
<head>
  <title>SmartEnterpriseTool</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= favicon_link_tag 'favicon.ico'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= nav_bar :fixed => :top, :brand => image_tag('logo-name.png') + 'Smart Enterprise Tool', :responsive => true do %>

    <%= menu_group :pull => :right do %>
        <% if user_signed_in? %>
          <%= menu_text "Signed in as #{current_user.first_name}" %>
          <%= menu_item "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= menu_item "Home", welcome_index_url %>
          <%= menu_item "Sign up", new_user_registration_path %>
          <%= menu_item "Sign in", new_user_session_path %> 
          <%= menu_item "About", welcome_about_url %>
        <% end %>
    <% end %>

  <% end %>

   <div class="container">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <%= yield %>
   </div>
</body>

<footer class="footer">
    <div class="container">
      <div class='clique pull-left'>
        <p>
        <a href='/welcome/about'>About SET</a>
        </p>
       </div>
      <div class='clique pull-right'>
        <p>Powered by:</p>
        <%= link_to image_tag('https://avatars0.githubusercontent.com/u/9601443?v=3&s=400') ,'http://github.com/icarojerry/' %>
      </div>
    </div>
 </footer>


</html>
